<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Host" value="10.33.1.33"></add>
    <add key="Port" value="1521"></add>
    <add key="Service" value="ERPFRM"></add>
    <add key="Username" value="erptest"></add>
    <add key="Password" value="erptest"></add>
  </appSettings>
</configuration>