<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="address" value="http://192.168.68.39:5555/dx/XRMServices/2011/Organization.svc"/>
    <add key="protocol" value="http"/>
    <!-- protocol = http or https -->
    <add key="server" value="10.33.1.93"/>
    <add key="port" value="80"/>
    <add key="org" value="TTCS"/>
    <add key="servicePath" value="XRMServices/2011/Organization.svc"/>
    <add key="userName" value="dev2\crmservices"/>
    <add key="password" value="Pa$$w0rd113"/>
    <add key="dbConnectionString" value="Server=172.16.0.21;Port=5432;User Id=postgres;Password=123456;Database=CRM;encoding=unicode"/>

    <add key="CS" value="Server=172.16.0.21;Port=5432;User Id=postgres;Password=123456;Database=CRM;encoding=unicode"/>
    <add key="Interval" value="10000"/>
    <add key="CRMUrl" value="http://10.33.1.93/TTCS/XRMServices/2011/Organization.svc"/>
    <add key="Domain" value="dev2"/>
    <add key="User" value="crmservices"/>
    <add key="Pass" value="Pa$$w0rd113"/>
    <add key="Fibre" value="3.0"/>

    <add key="LTNhanvien" value="2000/01/01 00:00:00"/>
    <add key="LTHopDongDauTuMia" value="2000/01/01 00:00:00"/>
    <add key="LTKhachHang" value="2000/01/01 00:00:00"/>
    <add key="LTKhachHangDoanhNghiep" value="2000/01/01 00:00:00"/>
    <add key="LTLenhDon" value="2000/01/01 00:00:00"/>
    <add key="LTPhieuCan" value="2000/01/01 00:00:00"/>
    <add key="LTPhieuDangTai" value="2000/01/01 00:00:00"/>
    <add key="LTPhieuDoTapChat" value="2000/01/01 00:00:00"/>
    <add key="LTPhieudoCCS" value="2000/01/01 00:00:00"/>
    <add key="LTThuaDat" value="2000/01/01 00:00:00"/>
    <add key="LTThuaDatCanhTac" value="2000/01/01 00:00:00"/>
    <add key="LTXeVanChuyen" value="2000/01/01 00:00:00"/>
    <add key="LTVudautu" value="2000/01/01 00:00:00"/>
  </appSettings>
</configuration>
