<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <!-- Online using Office 365 -->
    <!-- <add name="Server=CRM Online, organization=contoso, user=someone"
           connectionString="Url=https://contoso.crm.dynamics.com; Username=someone@contoso.onmicrosoft.com; Password=password;"/> -->

    <!--add name="Server=CRM Online" connectionString="Url=https://vieta.crm5.dynamics.com/; Username=xuanquangnguyen@vieta.onmicrosoft.com; Password=S@igon789;"/> -->
    <add name="Server=10.33.1.92, organization=FRM, user=crmservices" connectionString="Url=http://10.33.1.92:5555/FRM; Domain=113.161.76.8; Username=dev1\crmservices; Password=P@ssword; authtype=AD"/>
    <!-- Online using Windows Live ID -->
    <!-- <add name="Server=CRM Online, organization=contoso, user=someone@hotmail.com"
           connectionString="Url=https://contoso.crm.dynamics.com; Username=someone@hotmail.com; Password=password; DeviceID=11hfn41bbqrg580vyvoea05abc; DevicePassword=fuqNIlx%e$.l*+ax_#8O4abc;"/>-->

    <!-- On-premises with provided user credentials -->
    <!-- <add name="Server=myserver, organization=AdventureWorksCycle, user=administrator"
           connectionString="Url=http://myserver/AdventureWorksCycle; Domain=mydomain; Username=administrator; Password=password;"/> -->

    <!-- On-premises using Windows integrated security -->
    <!--<add name="Server=192.168.20.8, organization=PRUDEV"
         connectionString="Url=http://192.168.20.11/PRUDEV/; Username=PRU\Administrator; Password=Sequent@123;"/>-->

    <!-- On-Premises (IFD) with claims -->
    <!--<add name="Server=litware.com, organization=contoso, user=someone@litware.com"
           connectionString="Url=https://contoso.litware.com; Username=someone@litware.com; Password=password;"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
